# Data Understanding

Objective:
To load the customer dataset and understand its structure, variables, and basic characteristics before analysis.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../data/raw/Customer_Churn_Data_Large.xlsx")

In [3]:
df.shape

(1000, 5)

In [4]:
df.head()

   CustomerID  Age Gender MaritalStatus IncomeLevel
0           1   62      M        Single         Low
1           2   65      M       Married         Low
2           3   18      M        Single         Low
3           4   21      M       Widowed         Low
4           5   21      M      Divorced      Medium

In [5]:
df.columns

Index(['CustomerID', 'Age', 'Gender', 'MaritalStatus', 'IncomeLevel'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1000 non-null   int64
 1   Age            1000 non-null   int64
 2   Gender         1000 non-null   object
 3   MaritalStatus  1000 non-null   object
 4   IncomeLevel    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [7]:
df.describe()

        CustomerID          Age
count  1000.000000  1000.000000
mean    500.500000    43.267000
std     288.819436    15.242311
min       1.000000    18.000000
25%     250.750000    30.000000
50%     500.500000    43.000000
75%     750.250000    56.000000
max    1000.000000    69.000000

## Summary

- The dataset contains customer demographic and account-related information.
- No explicit churn column is present in the dataset.
- This notebook focuses only on understanding the structure of the data.